.popup__input {
    cursor: text;
    max-width: 358px;
    min-height: 27px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.popup__input:focus {
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .popup__input {
        max-width: 238px;
    }
}