.body {
    background-color: black;
}

.header {
    display: flex;
    max-width: 880px;
    min-height: 74px;
    margin: auto;
    margin-top: 45px;
    border-bottom: 1px solid #545454;
}

.header__logo {
    margin: 0;
    width: 142px;
    height: 33px;
}